@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}
#roxo{
    background-image: linear-gradient(#8b40c0,#4B0082);
    height: 42em;
    padding: 7em;
    
    
}

.titulo{
    color:white;
    font-size: 2em;
}



    .subtitulo{
        color: white;
        font-size: 2em;
    }

    







#azul{
    background-image: linear-gradient(#1c4ca5, #002366);
    height: 80em;
    padding:1em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    
}


#tituloAzul{
    color: white;
    padding: 4em;
    font-size: 1.9em;
    display: flex;
    justify-content: center;
}






#amarelo{
    background-color: #FFD358;
    height: 80em;
}

#tituloAmarelo{
    color: white;
    padding: 3em;
    font-size: 4em;
}

body{
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}
.cabeçalho{
    background-color:#6d23a1 ;
    color: white;
    display: flex;
    gap: 40em;
}
.icones{
    display: flex;
    gap: 10em;
    align-items: center;
}
.icones a{
    text-decoration: none;
    color: white;
}
#logomarca{
    padding: 1em;
    display: block;
    margin-left: 3em;
}

 .rodapé{
    background-image: linear-gradient(#81630f,#b68f23);

 }

 .quadradinho{
    background-color: #1c2c77;
    width: 19em;
    height: 19em;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.tudao{
    display: flex;
    gap: 9em;
    display:flex;
    justify-content: center;


}

#tituloAmarelo{
    display: flex;
    justify-content: center;
}
#tudaoAmarelo{
    display: flex;
    gap: 9em;
    display:flex;
    justify-content: center;
}
.quadradinhoAmarelo{
    background-color: #f7c522cb ;
    width: 19em;
    height: 19em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rodapé{
    height: 20em;
}